@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap');

:root {
    --light-primary: #e3e4e0;
    --primary: #c7c7bb;
    --dark-primary: #aaaa9f;
    --primary-text-color: #3e423d;

    --light: 300;
    --regular: 400;
    --medium: 500;
    --bold: 700;
}

//default selector formatting
body {
    color: var(--primary-text-color);
    background: var(--light-primary);
    margin: 0;
    font-family: 'Open Sans';
    text-transform: none;
}

section {
    padding: 7% 5%;
}

a {
    color: var(--primary-text-color);;
}

ul {
    list-style-type: none; 
    margin: 0;
    padding: 0;
    color: white;
}

h2 {
    margin: 0;
    margin-bottom: 5%;
    font-size: 2em;
}

label {
    display: block;
    font-size: 1.2em;
    margin-bottom: .5em;
}

//mobile formatting//
.navbar {
    background: var(--primary);
    padding: 1em;

    .container {
        display: flex;
        place-content: space-between;
    }
    
    .logo {
        text-decoration: none;
        font-weight: var(--regular);
        color: var(--primary-text-color);
        font-size: 2em;

        span {
            font-weight: var(--medium);
        }
    }

    .mobile-menu {
        padding: 2%;
        width: 2em;
        cursor: pointer;
    }

    nav {
        display: none;
        transition: width 2s;
        position: fixed;
        z-index: 999;
        width: 40%;
        right: 0;
        top: 0;
        background: var(--dark-primary);
        height: 100vh;
        padding: 1em;

        ul {
            color: var(--primary-text-color);
        }

        .mobile-menu-exit {
            margin: .5em;
            width: 1.6em;
            cursor: pointer;
            float: right;
        }

        .primary-nav {
            margin-top: 5em;
        }

        .secondary-nav {
            margin: 0;
            padding-top: 2em;
            a {
                color: white;
            }
        }

        li {
        
            a {
                color: var(--primary-text-color);
                text-decoration: none;
                display: block;
                padding: .5em;
                padding-top: 0.2em;
                font-size: 1.3em;
                text-align: right;
    
                &:hover {
                    font-weight: var(--medium);
                }
            }
        }
    }
}

//open & close mobile nav-menu
nav.menu-btn {
    display: block;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .portrait-pic {
        display: flex;
        justify-content: center;
        // width: 100%;
        img {
            width: 75vw;
            margin-right: 10px;
            box-shadow: 10px 10px 0 var(--primary);
            -moz-box-shadow: 10px 10px 0 var(--primary);
            -webkit-box-shadow: 10px 10px 0 var(--primary);
            -khtml-box-shadow: 10px 10px 0 var(--primary);
        }
    }

    .hi-message {
        align-self: flex-start;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
        padding: 5%;
        padding-left: 10%;
        .hi {
            span {
                font-size: 8vw;
                font-weight: var(--medium);
            }
        }
        .im-will-propp {
            span {
                line-height: 70%;
                font-size: 10vw;
                font-weight: var(--bold);
            }
        }
        .aspiration {
            span {
                font-size: 5vw;
                font-weight: var(--regular);
            }
        }
        .projects-button {
            padding-top: 10%;
            a {
                background: var(--dark-primary);
                color: white;
                border: none;
                border-radius: 5em;
                padding: 0.4em 0.8em;
                font-size: 5vw;
                text-decoration: none;
            }
        }
    }
}

.projects {
    .project-wrapper {
        display: grid;
        grid-template-columns: 1fr, 1fr, 1fr;
        place-items: center;
        grid-gap: 1em;
        grid-auto-rows: minmax(100px, auto);

        .project-item {
            //box shadow option
            box-shadow: 5px 5px 0 var(--primary);
            -moz-box-shadow: 5px 5px 0 var(--primary);
            -webkit-box-shadow: 5px 5px 0 var(--primary);
            -khtml-box-shadow: 5px 5px 0 var(--primary);

            //circle option
            // position: relative;
            // width: 200px; height: 200px;
            // overflow: hidden;
            // border-radius: 50%; 
            img {
                display: block;
                margin: 0 auto;
                padding: 0;
                width: auto;
                height: 100%;

                // display: block;
                // margin: 0 auto;
                // padding: 0;
                // width: auto;
                // height: 100%;
                // overflow: hidden;
                // border-radius: 50%;

                // border-style: inset;
                // border-width: 5px;
                // border-color: black;
            }
        }
    }
}

input, textarea {
    width: 100%;
    padding: .8em;
    margin-bottom: 1em;
    border-radius: .3em;
    border: 1px solid gray;
    box-sizing: border-box;
}

input[type="submit"] {
    text-transform: capitalize;
    background-color: var(--primary);
    color: var(--primary-text-color);
    font-family: 'Open Sans';
    font-weight: var(--medium);
    font-size: 1.3em;
    border: none;
    margin-bottom: 5em;
    border-radius: 5em;
    display: inline-block;
    padding: .8em 2em;
    width: unset;
    cursor: pointer;
}

//desktop formatting
@media only screen and (min-width: 1020px) {

    .mobile-menu, .mobile-menu-exit {
        display: none;
    }

    .navbar .container {
        display: flex;
        grid-template-columns: 180px auto;
        justify-content: unset;
        margin: 0 auto;
        width: 80%;
    }

    .navbar nav {
        display: flex;
        justify-content: space-between;
        background: none;
        position: unset;
        height: auto;
        width: 100%;
        padding: 0;

        ul {
            padding-left: 0em;
            display: flex;
        }

        a {
            color: var(--primary-text-color);
            font-weight: var(--regular);
            font-size: 1.2em;
            padding: 0 0.6em 0;
        }

        ul.primary-nav {
            margin: 0;
            li {
                margin-top: -0.2em;
            }
        }

        ul.secondary-nav {
            display: flex;
            padding-top: 1%;
            margin-left: 5%;
            justify-content: space-between;

            li {
                background: var(--dark-primary);
                border: none;
                border-radius: 5em;
                width: 45%;
                margin-left: 0.5em;
                margin-right: 0.5em;
                a {
                    padding: 0.3em 0.8em 0.3em;
                }
            }
                
        }

        li.current a {
            font-weight: var(--medium);
        }
    }

    .hero {
        display: grid;
        grid-template-columns: 1fr 2fr;
        .portrait-pic {
            padding-right: 4em;
            img {
                width: 400px;
            }
        }
        .hi-message {
            padding-top: 5vw;
            padding-right: 0;
            span {
                text-align: left;
                // text-shadow: 2px 2px var(--primary);
            }
            
            .hi {
                span {
                    font-weight: var(--medium);
                    // font-size: 3em;
                    font-size: 3vw;

                }
            }
        
            .im-will-propp {
                span {
                    line-height: 0.7em;
                    margin-top: -0.5em;
                    font-weight: var(--bold);
                    // font-size: 3.5em;
                    // font-size: 5vw;
                    font-size: calc(3.5em + calc(0.1vw / 2));


                }
            }
        
            .aspiration {
                span {
                    font-weight: var(--medium);
                    // font-size: 1.8em;
                    font-size: 1.5vw;
                }
            }
        
            .projects-button {
                // padding-top: 1em;
                padding-top: 2vw;
                a {
                    // font-size: 1.3em;
                    font-size: 1.3vw;

                }
            }
        }
    }

    .projects {
        // padding: 1em 3em 1em;
        .project-wrapper {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        
            grid-gap: 1em;
            grid-auto-rows: minmax(100px, auto);
            img {
                display: block;
                margin: 0 auto;
                // width: 300px;
            }
        }
    }

    .contact-section {
        position: relative;

        .container {
            display: flex;
        }
    }
}

//widescreen formatting
// @media only screen and (min-width: 1500px) {
//     .container {
//         // width:1080px;
//         width: 80%;
//         margin: 0 auto;
//     }

//     section {
//         padding: 10em 4em;
//     }

//     .hero .container {
//         display: flex;
//         justify-content: space-between;
//         text-align: left;
//     }

//     .contact-section {
//         position: relative;

//         .container {
//             display: flex;
//         }
//     }
// }


html {
    scroll-behavior: smooth;
}